/* init */
body {
  font-family: Gmarket Sans;
  color: #222;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px 100px;
}

/* header */
.header {
  display: flex;
  justify-content: flex-start;
  height: auto;
  padding: 20px 10px;
  z-index: 99;

  .inner {
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 0 5px;
    margin: 0 auto;
  }

  h1 {
    a {
      display: block;
      font-size: 24px;
      font-style: italic;
    }
  }
}

.fixed-link {
  position: fixed;
  right: 13px;
  bottom: 50px;
  width: 30px;
  height: fit-content;
  color: #555;
  text-align: center;
  z-index: 100;

  .btn-go {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    background-color: #fff;

    img {
      width: 20px;
      height: 20px;
    }
  }

  a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }

    + a {
      margin-top: 10px;
    }
  }
}

/* footer */
.footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 0;
  text-align: center;
  border-top: 1px solid #ddd;

  .footer-container {
    width: 92%;
    margin: 0 auto;
    padding: 0 4%;
  }

  .info {
    display: flex;
    justify-content: space-between;
  }

  .footer-item {
    width: 50%;

    .title {
      font-size: 20px;
      font-weight: bold;
      line-height: 40px;
    }

    .detail {
      margin-top: 20px;

      .detail-item {
        width: 50%;
        font-size: 12px;
        line-height: 20px;
        color: #555;
        font-weight: 300;

        + .detail-item {
          margin-top: 10px;
        }
      }
    }
  }
}

/* mobile */
@media (max-width: 420px) {
  .footer {
    .info {
      flex-direction: column;
    }

    .footer-item {
      width: 100%;

      .title {
        line-height: 20px;
      }

      .detail {
        margin-top: 10px;

        .detail-item {
          width: 100%;
        }
      }

      + .footer-item {
        margin-top: 30px;
      }
    }
  }
}

.m-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  height: 27px;
  width: 27px;
  transform: translateY(-50%);

  .checkbox {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    right: 3px;
    top: 0;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .hamburger-lines {
    height: 23px;
    width: 27px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }

  .hamburger-lines .line1 {
    transform-origin: 0;
    transition: transform 0.4s ease-in-out;
  }

  .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .hamburger-lines .line3 {
    transform-origin: 0 100%;
    transition: transform 0.4s ease-in-out;
  }

  input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
}

/* mobile */
@media (max-width: 420px) {
  .header {
    .inner {
      padding: 0;
    }
  }

  .m-menu {
    display: block;
  }
}